body {
  width: 40px;
  margin: 0;
  padding: 0;
  text-align: center;
}
.btn {
  display: block;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-weight: bold;
  text-transform: lowercase;
  color: #fff;
  border: none;
  background-color: #555;
  font-family: "Inconsolata";
  transition: background-color 0.5s;
}
.btn:hover {
  background-color: rgb(255, 131, 131);
}
.btn:active {
  background-color: rgb(255, 32, 32);
}
